h1{
   
    color:brown;
    font-size:x-large ;
    text-align: center;
    font-size: 35px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
        
body{

    background-color: rgb(175, 165, 184);
    
}

a{
    text-decoration: none;
    color: rgb(10, 95, 53);
}

fieldset{
    width: 700px;
}